@import '_variables';

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: $font-primary;
}

//utility classes and global styles

.flex{
    display: flex;
}

.flex-row{
    flex-direction: row;
}

.flex-col{
    flex-direction: column;
}

.items-center{
    align-items: center;
}

.justify-between{
    justify-content: space-between;
}

a{
    text-decoration: none;
    color: black;
}

.btn{
    padding: 8px 15px;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    border-style: none;
    background-color: $orangise;
    color: #fff;
    cursor: pointer;
}

//custom styling

// => mobile view

// nav bar styling 
nav{
    overflow: auto;
    padding: 0.5rem 1rem;
    .navleft{
        span{
            margin-left: 10px;
        }
        img{
            width: 10%;
        }
        .links{
            display: none;
        }
    }
    .navright{
        display: none;
    }
}

#toggle-btn{
        background-color: $orangise;
        padding: 0.4rem 0.7rem;
        border-style: none;
        cursor: pointer;
}

//intro section
.intro{
    flex-direction: column;
    .intro-img{
        justify-content: center;
        height: 280px;
        img{
            object-fit: cover;
            width: 100%;
        }
    }
    .intro-details{
        font-family: $font-secondary;
        h1{
            width: 70%;
            line-height: 35px;
            margin: 1rem 2rem;
            span{
                color: $orangise;
            }
        }
        p{
            font-family: $font-secondary;
            width: 90%;
            margin-bottom: 1rem;
            line-height: 24px;
        }
        form{
            width: 90%;
            margin-left: 2rem;
            div{
                input{
                    width: 60%;
                    padding: 0.5rem;
                }
                margin-bottom: 10px;
            }
            span{
                i{
                    color: green;
                    margin:0rem 0.2rem;
                }
                margin-top: 10px;
                font-family: $font-secondary;
            }
        }
    }
}

//features section
.features1{
    background-color: $orangise;
    flex-direction: column;
    margin-top: 2rem;
    .features1-details{
        padding: 0.2rem;
        h1{
            padding: 1rem;
            span{
                color: black;
            }
            color: #fff;
        }
        p{
            padding: 0.5rem 1rem;
            color: #fff;
        }
    }
    .features1-img{
        background-color: #fff;
        img{
            width: 100%;
            position: relative;
            top: 15px;
        }
    }
}

.features2{
    background-color: $orangise;
    flex-direction: column-reverse;
    .features2-details{
        padding: 0.2rem;
        h1{
            padding: 1rem;
            span{
                color: #fff;
            }
            color: black;
        }
        p{
            padding: 0rem 1rem;
            color: #fff;
        }
        button{
            margin: 1rem;
            background-color: #fff;
            color: black;
        }
    }
    .features2-img{
        img{
            width: 100%;
        }
    }
}
.features3{
    background-color: $orangise;
    flex-direction: column-reverse;
    .features3-details{
        background-color: #fff;
        padding: 0.2rem;
        h1{
            padding: 1rem;
            span{
                color: $orangise;
            }
            color: black;
        }
        p{
            padding: 0rem 1rem;
            color: black;
        }
        button{
            margin: 1rem;
        }

        .contact{
            margin-bottom: 2rem;
            width: 100%;
            padding: 0.5rem;
            form{
                margin-left: 1rem;
                width: 90%;
                input{
                    padding: 10px;
                    margin-bottom: 1rem;
                }
                textarea{
                    padding: 10px;
                    width: 100%;
                    height: 120px;
                    margin-bottom: 1rem;
                }
                button{
                    margin: 0px;
                }
            }
        }
    }
    .features3-img{
        img{
            width: 100%;
        }
    }
}

footer{
    padding: 1rem;
    background-color: $orangise;
    flex-wrap: wrap;
    .fot1{
        margin: 1rem;
        width: 100%;
        button{
            margin-top: 1rem;
            background-color: #fff;
            color: black;
        }
    }
    .fot{
        width: 50%;
        h3{
            margin: 1rem ;
            text-transform: capitalize;
        }
        ul{
            margin-left: 1rem;
            li{
                list-style: none;
                color: #fff;
            }
        }
    }
}






// destop view
@media only screen and (min-width:769px) {
    // navbar 
    nav{
        margin: 1rem;
        .navleft{
            img{
                width: 5%;
            }
            span{
                margin-right: 1rem;
            }
            a{
                margin-left: 1rem;
            }
            .links{
                display: block;
            }
        }
        .navright{
            display: block;
            a{
                margin-right: 1rem;
            }
        }

        #toggle-btn{
            display: none;
        }
    }

    //intro section
    .intro{
        height: 85vh;
        flex-direction: row;
        margin: 1rem 1rem 1rem 3rem;
        .intro-img{
            width: 55%;
            height: 450px;
            img{
                width: 100%;
            }
        }
        .intro-details{
            margin-left: 2rem;
            width: 40%;
            h1{
                width: 70%;
            }
            p{
                width: 80%;
            }
            span{
                margin: 0.1rem;
            } 
        }
    }

    .features1{
        flex-direction: row;
        .features1-details{
            margin-left: 3rem;
            width: 50%;
            h1{
                margin-top: 3rem;
                width: 90%;
                font-size: 40px;
                line-height: 55px;
            }
            p{
                width: 90%;
            }
        }
        .features1-img{
            width: 54%;
            height: 500px;
            img{
                object-fit: cover;
                height: 100%;
            }
        }
    }    
    .features2{
        flex-direction: row;
        .features2-img{
            width: 50%;
            img{
                width: 100%;
            }
        }
        .features2-details{
            width: 50%;
            h1{
                width: 90%;
                font-size: 40px;
                line-height: 55px;
            }
            p{
                width: 90%;
            }
            button{
                background-color: #fff;
                color: black;
                margin: 1rem;
                text-transform: uppercase;
            }
        }
    }

    .features3{
        flex-direction: row;
        .features3-img{
            width: 50%;
            img{
                width: 100%;
            }
        }
        .features3-details{
            padding-top: 2rem;
            padding-left: 2rem;
            width: 50%;
            h1{
                width: 90%;
                font-size: 40px;
                line-height: 55px;
            }
            p{
                width: 90%;
            }
            button{
                margin: 1rem;
                text-transform: uppercase;
            }
        }
    }

    footer{
        justify-content: space-evenly;
        .fot1{
            margin: 2rem 1rem 1rem 4rem;
        }
        .fot{
            width: 20%;
        }
    }
}



